.main {
    padding-top: 10px;
  }
  
  .getInTouchSection {
    background-color: #e2e2e2;
    opacity: 0.9;
    padding: 4rem 1rem;
  }
  
  .getInTouchContainer {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  .heading {
    font-size: 2rem;
    text-align: center;
    color: rgb(22, 99, 122);
    font-weight: bold;
  }
  
  .form {
    margin-top: 2rem;
  }
  
  .formHeading {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgb(22, 99, 122);
  }
  
  .formGroup {
    margin-bottom: 1.5rem;
  }
  
  .formGroup label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .formGroup input,
  .formGroup textarea {
    width: 100%;
    max-width: 400px;
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid #000;
    background-color: #e2e2e2;
    opacity: 0.9;
    outline: none;
  }
  
  .formGroup input:focus,
  .formGroup textarea:focus {
    border-bottom: 2px solid #065d63;
  }
  
  .formGroup textarea {
    height: 100px;
    resize: none;
  }
  
  .submitButton {
    background-color: #ffc107;
    color: #065d63;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #065d63;
    color: white;
  }
  
  .divider {
    height: 2px;
    margin: 2rem;
    background-color: #065d63;
  }
  
  .contactDetailsSection {
    background-color: #e2e2e2;
    opacity: 0.9;
    padding: 4rem 1rem;
  }
  
  .contactDetailsContainer {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .contactHeading {
    font-size: 2rem;
    color: #065d63;
    margin-bottom: 1.5rem;
  }
  
  .contactDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  
  .icon {
    font-size: 1.5rem;
    color: #065d63;
    margin-right: 0.5rem;
  }
  
  .contactDetail a {
    color: #065d63;
    text-decoration: none;
  }
  
  .contactDetail a:hover {
    color: #0f5132;
  }
  